#body {
    margin: 0;
    padding: 0;
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    color: #fff;
}

.container {
    position: relative;
    left: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container li {
    margin: 10px;
}

.card {
    position: relative;
    left: 0;
    width: 200px;
    height: 400px;
    transition: 0.3s ease-out;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
}

.card .imgbox {
    position: relative;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 400px;
    display: block;
    transition: 0.5s;
}

.card .content {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 120px;
    padding: 12px;
    background: rgb(128, 9, 0);
    clip-path: polygon(0 40%,100% 0, 100% 100%, 0 100%);
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    overflow: hidden;
}

.content h2 {
    position: absolute;
    bottom: -20px;
    left: auto;
    text-align: center;
    font-size: 26px;
    color: #fff;
}

/* Option: Info supplémentaire */
/*
.card:hover .content {
    width: 100%;
    height: 75%;
    left: 0;
    bottom: 0;
}

.content p {
    margin: 10px 0 0;
    padding: 1em 1em;
    transform: translateY(2em);
    line-height: 1.3em;
    transition: 0.3s;
    text-align: justify;
    opacity: 0;
}

.card:hover .content p {
    transform: translateY(0);
    opacity: 1;
}
*/

.selectC {
    width: auto;
    height: 100px;
    background: red ;
}

.imgCover {
    max-width: 100%;
}

.selectContent {
    width: auto;
    height: 75px;
    background: white ;
}

/* Nouveau CCS Card Essaie*/

#countainerW {
    background: #3b4172;
    font-family: poppins;
}

.wrapper {
    width: 1170px;
    margin: 2% auto;
    margin-top: 5px;
}

.section-header {
    text-align: center;
    margin-bottom: 30px;
}

.section-header h2 {
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    font-size: 45px;
    letter-spacing: 5px;
}

.team-member {
    width: 29%;
    height: auto;
    float: left;
    box-shadow: 5px 5px 15px #000;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: #222859;
}

.team-member img {
    width: 200px;
    height: 350px;
}

.team-member h3 {
    margin: 0;
    font-size: 25px;
    color: #fff;
}

.team-member p {
    color: #fff;
}

.team-member:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.team-member:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 4px;
    width: 100%;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.team-member:hover:before {
    border-color: #d04f81;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s ;
}

.team-member:hover:after {
    border-color: #d04f81;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s ;
}